main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.painel-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
}

.card {
    width: 50%;
}

.card h1 {
    text-align: center;
    margin-bottom: 32px;
    color: #414141;
}

.card input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 16px auto 0;
    padding-left: 8px;
}

.card button {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    color: #ffffff;
    background-color: #53c794;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-weight: bold;
}

.card a {
    display: block;
    margin-top: 8px;
    font-size: 14px;
}

.painel-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #53c794;
}

.painel-imagem img {
    width: 80%;
}

@media  (max-width:576px){
    .painel-imagem{
        display: none;
    }

    .painel-login {
        width: 100%;
    }
    
}